.fontFooter {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: black;
  font-display: swap;
  background-color: #181717;
  margin-top: 6rem;
}

.fontFooter > hr {
  color:White;
}

.fontFooter ul li {
  margin-bottom: 20px;
}

.fontFooter a {
  color: white;
  text-decoration: none;
}

.custom-class {
  padding: 50px 0;
  border-top: 1px solid gray;
}

.icons a {
  margin-left: 20px;
}
