.homepage {
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    margin-top: 12rem !important;
}

.card-group {
    display: flex; 
    gap: 2%;
    justify-self: center;
    width: 70%;
    grid-row-start: 0;
    margin-top: 50px;
}

.tobeto-card {
    background-image: url('../../../public/assets/images/tobeto-card.png') !important;
    background-size: cover !important;
    border-radius: 10px !important;
}

.ik-card {
    background-image: url('../../../public/assets/images/ik-card.png') !important;
    background-size: cover !important;
    border-radius: 15px !important;

}

.ui.card {
    height: 17rem;
    margin: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
}

.tobeto-card .content {
    display: flex;
    grid-template-columns: 55% auto;
    grid-template-rows: 100%;
    align-items: center;

}

.ik-card .content {
    display: grid;
    grid-template-rows: 60% 40%;

}

.ik-card .content-top {
    display: grid;
    grid-template-columns: 68% auto;
    align-items: end;
    column-gap: 5%;
    margin-bottom: 15px;
}

.tobeto-card .content-left {
    margin-left: 10px;
}

.tobeto-card .content-left span {
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins-Bold';
    font-size: 16px !important;
    z-index: 2;
    display: flex;
    margin-left: 0;
}


.tobeto-card .content-right {
    align-self: end;
}

.tobeto-card .content-right img {
    width: 170px !important;
    margin-left: 20px;

}

.word-container {
    margin-left: 5px;
}

.word1,
.word2 {
    padding-left: 5px;
}

.word1 {
    opacity: 1;
    animation: fade2 4s infinite;
}

.word2 {
    opacity: 0;
    animation: fade 4s infinite;
}

.tobeto-card-btn {
    background-color: #93f !important;
    border: 0 !important;
    border-radius: 20px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: 'Poppins-Regular' !important;
    color: #fff !important;
}


.text-ik {
    background-color: #fff;
    height: 50px;
    border-radius: 0 30px 30px 0;
    display: grid;
    grid-template-columns: 80% auto;
}

.text-ik #circle {

    width: 35px;
    height: 35px;
    background: #1d1141;
    border-radius: 100%;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.text-ik span {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    color: #1d1141;
    font-size: 16px;
    align-self: center;
    text-align: end;
}

.ik-card .content {
    padding-left: 0 !important;
}

.ik-card .content-bottom {
    justify-self: center;
    margin-top: 1rem;
}

.ik-card .content-bottom Button {
    background-color: #0fcdfa;
    color: #1d1141;
    border: 0;
    border-radius: 50px;
    line-height: 18px;
    min-width: 100px;
    font-family: 'Poppins-Bold';
    font-size: 10px;
    padding: 5px;
}

.ik-card::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: url(../../../public/assets/images/doth1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ik-card::after {

    position: absolute;
    bottom: 3%;
    right: 3%;

    background: url(../../../public/assets/images/doth2.png);
    background-size: contain;
    background-repeat: no-repeat;
    visibility: visible !important;
}



