.codecademy-img {
  width: 183.33px;
  height: 183.33px;
  /* justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%; */
}

.row1 {
  background-color: black;
  color: white;
}

.row1 p {
  font-size: 2.25rem;
  color: #fff;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  padding-top: 5%;
  font-family: 'Poppins-Bold';
  margin-bottom: auto;
}

.row2 {
  background-color: black;
  color: white;
}