
.forIndividuals-component{
    color: white;
    margin-top: 200px;
}

.ApplyCardSpecial{
    align-items: center;
}

.ik-cards{
    height: 300px;
    width: 300px;
    padding-left: 10rem;
    padding-right: 10rem;
    
}
.vector{ 
    position: absolute;
    top: -24px;
    right: 120px;
}
.mw-5xl .text-white-big {
--bs-text-opacity: 1;
color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
font-size: 4em !important;
margin-right: 20px;
font-family: 'Poppins-Regular';
text-align: center;
font-weight: bold;
line-height: 1.2;
}
.text-center .mx-auto{
    margin-top: 90px;
}
.borderp {
    text-align: center;
    border: 2px solid #93f;
    padding: 1em;
    border-radius: 12px;
    font-size: 19px;
}
.borderp a:hover {
    text-decoration: underline;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
    
}

.text-white a {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
}
.codeacademy-purple{
    color: #9532fa;
}
.codeacademy-purple:hover{
    color: #7d19e1;
}
.codeacademy-p a{
    text-decoration: underline;
    color: #9532fa !important;
}
.codeacademy-p a:hover{
    text-decoration: underline;
    color: #7d19e1 !important;
}

.my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
}
.btn-rainbow{
    color: #fff;

}
.btn-rainbow:hover {
    color: inherit !important;
    background-color: inherit !important;
    border-color: inherit !important;
    border: none;
}
.rainbow-text.py-4 {
    font-size: 1.5em !important;
    padding-top: 0.8rem!important;
    padding-bottom: 0.8rem!important;
} 

.gradient-line2{
    height: 165px;
   
}

.mt-20{
    
    margin-top: 5rem;
    margin: 0 auto;
    background: linear-gradient(180deg,#93f,#953dac 27.08%,#181717);
    
}
.vector7{
    top: -30px;
    right: -36px;
    position:absolute;
    margin-right: 100px;
}
.mb-20 {
    margin-bottom: rem!important;
}
.text-white h4 {
    font-size: calc(1.3125rem + .75vw);
}

.mw-5xl {
    max-width: 1280px;
  }
  
.position-relative h4{
    font-size: 36px;
    margin-top: 30px;
}
.web-pack {
    background: linear-gradient(180deg,#1b1b1b,#181717 67.74%);
}
.mx-auto {
    margin-top: 24px;
    margin-bottom: 80px;
    margin-right: auto!important;
    margin-left: auto!important;
}
.pack-box { 
    text-align: center;
    font-size: 14px;
    font-weight: 300;
} 
.justify-content-center {
    justify-content: center!important;
    margin-top: 2em;
}
.tab-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
}
.tab-link:hover {
    text-decoration-color: #7d19e1;
  }
  
/*  For-Individuals Second Part */
.individuals-common {
    color: white !important;
    margin-top: 0px !important;
    background: linear-gradient(180deg, #1b1b1b, #181717 67.74%);
    border-radius: 20px !important;
    text-align: center;
    text-decoration: none;
    justify-content: center !important;
}

.pack-box a {
    color: #e0e0e0 !important;
    text-decoration: none !important;
}

a {
    color: #e0e0e0 !important;
}

.pack-box {
    border: 1px solid #4f4f4f;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #e0e0e0;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    margin-bottom: 5px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector2 {
    top: 10px;
    right: 0;
    z-index: 1;
}

.vector,
.vector2 {
    position: absolute;
}

.rainbow-text {
    font-size: 1.65em !important;
    width: auto !important;
    font-weight: 700 !important;
}


.gradient-line2 {
    height: 165px;
    margin: 0 auto;
}

.gradient-line,
.gradient-line2 {
    background: linear-gradient(180deg, #93f, #953dac 27.08%, #181717);
    width: 12px;
}

.mt-5 {
    margin-top: 8rem !important;
}

.web-pack,
.web-pack-light {
    padding: 80px;
    position: relative;
    border-radius: 25px;
}

.web-pack {
    background: linear-gradient(180deg, #1b1b1b, #181717 67.74%);
}

.vector2 {
    top: 20px;
    right: 0;
    z-index: 1;
}

.vector,
.vector2 {
    position: absolute;
}

.vector4 {
    position: absolute;
    top: -45px;
    right: 20px;
}

.vector6,
.vector7 {
    position: absolute;
}

.vector6 {
    top: 70px;
    margin-left: 10px;
}

.vector8 {
    position: absolute;
    top: 0px;
    right: 30px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 1rem 0;
    color: #fff;
    font-size: .9rem;
    background-color: #93f;
    border-radius: 25px;
    padding: .4rem 1rem;
    margin-right: 1rem;
    width: 230px;
    justify-content: center;
    cursor: pointer
}

.tag-list {
    width: 100%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden
}

.tag-list .inner {
    display: flex;
    width: fit-content;
    height: 60px;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 30s;
    padding: 8px;
}

.tag-list .inner2 {
    display: flex;
    width: fit-content;
    height: 40px;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-duration: 25s;
}

.tag span {
    font-size: 1.2rem;
    color: #7d19e1
}

@keyframes loop {
    100% {
        transform: translateX()
    }

    to {
        transform: translateX(-40%)
    }
}

.fades {
    pointer-events: none;
    background: linear-gradient(90deg, #181717, transparent 30%, transparent 70%, #181717);
    position: absolute;
    inset: 0;
    z-index: 1
}

 /* For-Individuals Second Part */

