.Container-login {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    margin-top: 10px;


}

.login-page-icon {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.login-page-ik .content {
    background-color: white;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}


.login-ik-container .tobeto-icon {
    width: 200px;
    margin-top: 57px;
}

.login-page-ik .col-md-6 {
    border-radius: 16px;
}

.row.content-center {
    padding-top: 124px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.login-page-ik .login-ik-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.login-page-ik {
    border-radius: 25px;
    position: sticky;
    background: #fff;
    color: #282828;
    display: flex;
    flex: 0 0 auto;
    gap: 11px;
    flex-direction: column;
    align-items: center;
    height: 480px;
    justify-content: center;
}

.login-page-ik:after,
.login-page-ik:before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 1em
}

.login-page-ik:after {
    bottom: 2px;
    top: 2px;
    left: 1px;
    right: 1px;
    height: auto;
    width: auto;
    margin: 3px;
    background: inherit
}

.login-page-ik::before {
    content: '';
    animation: rainbow-border 4s linear infinite;
    background: linear-gradient(135deg, #1e0f41, #0fcdfa, #87ff87, #1e0f41, #0fcdfa, #87ff87);
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    top: 0;
    left: 0;
    background-size: 100% 200%;
}

.login-page-ik .btn {
    line-height: 9px;
    margin-bottom: 76px;
    padding: 10px 20px;
    text-align: center;
    background-color: #1e0f41;
    border-radius: 60px;
    font-size: 14px;
    font-weight: bold;
    min-width: 140px;
    color: #0fcdfa;
    border-color: #1e0f41;
    font-family: "Poppins-Bold";
}

.login-page-ik .btn:hover {
    border-color: #1e0f41;
    color: #0fcdfa;
    background-color: #1e0f41;
}


.login-ik-container::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 3%;
    width: 36px;
    height: 55px;
    background: url(../../../public/assets/images/doth1.png);
    background-size: 36px;
    background-repeat: no-repeat;
}

.login-ik-container::after {
    content: "";
    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 50px !important;
    height: 40px !important;
    background: url(../../../public/assets/images/doth2.png);
    background-size: 51px;
    background-repeat: no-repeat;
    visibility: visible !important;
}