.session-panel-content {
    margin-top: 35px !important;
}


.session-panel-content table .session-panel-table-body .td-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.session-panel-content .table-responsive-sm .corpTable thead tr th {
    font-size: 12px;
    color: #667085;
    background-color: #dcdcdc !important;
    font-family: 'Poppins-Regular';
}

.session-panel-content table .session-panel-table-body tr td {
    font-style: normal;
    font-family: 'Poppins-Medium';
    font-size: 13px;
    color: #282828;
    line-height: 2;
    vertical-align: middle;
    height: 52px;
    background-color: #eee !important;
}

.session-panel-content table .session-panel-table-body .td-icons .file-icon::before {
    background-image: url(/public/assets/Icons/file.svg);
    content: "";
    width: 52px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.session-panel-content table .session-panel-table-body .td-icons .trash-icon::before {
    background-image: url(/public/assets/Icons/trash.svg);
    content: "";
    width: 52px;
    height: 52px;
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.session-panel-content table .session-panel-table-body .student-id {
    width: 25rem;
}

.upload-content table .session-panel-table-body tr td:hover {
    background-color: red !important;
}

.session-panel-content table .session-panel-table-body .png_icon::before {
    background-image: url(/public/assets/Icons/profile-settings/png.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    cursor: default;
}

.session-panel-content table .session-panel-table-body .pdf_icon::before {
    background-image: url(/public/assets/Icons/profile-settings/pdf.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
    cursor: default;
}

.session-panel-content .student-id {
    width: 200px !important;
}


.session-panel-content .input-container {
    position: relative;
    display: flex;
    margin-bottom: 36px;
}


.session-panel-content .search input {
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    background: #fff;
    border: 3px solid transparent;
    border-radius: 50px;
    padding: 8px;
    outline: none;
    font-size: 16px;
    padding-right: 50px;
    width: 100%;

}

.session-panel-content .search-icon {
    position: absolute;
    top: 10;
    right: 20;
    cursor: pointer;
    font-size: 2em;
    color: #555;
}


.session-modal .modal-dialog .modal-content {
    margin-top: 30vh;
    width: 35vw;
}

.session-panel {
    margin-top: 36px !important;
}