.formik-form button {
    background-color: #93f;
    padding: 6px 12px;
    border-radius: 999px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    border-color: #93f;
  }
  
  .formik-form button:hover {
    background-color: #822bd9;
    border-color: #822bd9;
  }
  
  .formik-form .field input:focus {
    border-color: #c9f !important;
    box-shadow: 0 0 0 0.25rem rgba(153, 51, 255, .25);
    outline: 0;
  }
  
  .formik-form .field input {
    width: 100%;
    border: solid #e7e5e4;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
  }
  
  .formik-form .field select {
    width: 100%;
    border: solid #e7e5e4;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-family: 'Poppins-Regular';
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25;
  }
  
  .formik-form .field select:focus { 
    border-color: #c9f !important;
    box-shadow: 0 0 0 0.25rem rgba(153, 51, 255, .25);
    outline: 0;
  }
  