.platform {
    margin-top: 12rem !important;
}

.platform .platform-content {
    height: auto;
    margin-bottom: 3.5rem;
}

.platform-content .content-title {
    display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.platform-content section:first-child::before {
    content: "";
    background: url("../../../public/assets/Icons/dot-purple.svg");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    right: 8rem;
    top: 10rem;
}

.platform .platform-content .tobeto-slogan {
    text-align: center;
    margin-top: 3.5rem;
}

.platform .platform-content .tobeto-slogan span {
    font-size: 24px;
    color: #1C1917;
    font-family: 'Poppins-Medium';
}

.platform .content-title span {
    color: #4D4D4D;
    font-size: 36px;
}

.platform .content-title .tobeto-text {
    color: #9933FF;
    font-size: 36px;
    font-family: 'Poppins-Bold';
}

.platform .content-title .user-name {
    font-size: 30px;
    margin-top: 2rem;
}

.platform-content {
    margin-top: 12rem !important;
}

.platform .platform-content #ik-logo {
    text-align: center;
    padding: 16px;
}

.platform .platform-content #ik-logo img {
    margin: 16px;
    width: 300px;
    height: 160px;
}

.middle-section {
    padding: 22px;
    margin-top: 3.5rem;
    box-shadow: 0 7px 29px rgba(0, 0, 0, .13);
    border-radius: 10px;
    height: auto;
    padding-bottom: 0;
}

.bottom-section {
    padding: 22px;
    margin-top: 1rem;
    box-shadow: 0 7px 29px rgba(0, 0, 0, .13);
    border-radius: 10px;
    height: auto;
    border-radius: 12px;
}

.bottom-section .my-exams {
    display: flex;
}

.platform .platform-content .middle-section .ik-slogan {
    font-size: 24px;
    margin: 16px;
    color: #282828;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.platform .platform-content .middle-section .ik-slogan span:last-child {
    margin-top: 2rem;
    font-size: 32px;
    font-family: 'Poppins-Bold';
}

.platform .platform-content .middle-section .platform-tab-menu {
    padding: 1rem;
}

.tab-application-content,
.tab-announcement-content,
.tab-education-content {
    margin-top: 3rem;
}

.tab-application-content {
    padding-left: 14px;
    margin-bottom: 1rem;
}

.tab-education-content,
.tab-announcement-content {
    justify-items: center;
    display: grid;
}

.tab-announcement-content {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.tab-education-content {

    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.platform-tab-menu .tab-menu {
    border: 0 !important;
    margin-left: 1.5rem;
}

.platform-tab-menu .tab-menu .nav-item button:not(:disabled) {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
}

.platform-tab-menu .nav-tabs .nav-item.show .nav-link,
.platform-tab-menu .nav-tabs .nav-link.active {
    border-bottom: 3px solid #282828CC !important;
}

.platform-tab-menu .tab-menu .nav-item .nav-link {
    color: rgba(40, 40, 40, .8) !important;
}

.platform-tab-menu .tab-menu .nav-item .nav-link:hover,
.platform-tab-menu .tab-menu .nav-item .nav-link:active,
.platform-tab-menu .tab-menu .nav-item .nav-link:not(:hover) {
    border: none;
}

.platform-tab-menu .tab-menu .nav-item .nav-link:hover {
    color: #282828 !important;
}

.platform-tab-menu .tab-menu .nav-item button {
    font-size: 16px;
    font-family: 'Poppins-Medium';
    font-weight: 500;
    color: #282828;
}

.bottom-section-title {
    padding: 1rem;
    padding-top: 0;
    padding-left: 1.5rem;
}

.bottom-section-title span {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    color: #1C1917;
}

.exam-details {
    width: fit-content;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, .25);
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 1rem;
    margin-left: 1.5rem;
    border-radius: 8px;
    width: 550px;
}

.exam-details:hover {
    cursor: pointer;
    scale: 1.02;
    transition: .3s;
}

.exam-details .exam-details-left {
    display: flex;
    flex-direction: column;
}

.exam-details .exam-details-left .exam-title,
.exam-time {
    font-family: 'Poppins-Bold';
    font-size: 16px;
    color: #1C1917;
}

.exam-details .exam-details-left .exam-time ::before {
    content: "";
    background-image: url(https://tobeto.com/_next/static/media/countdown.458879a2.svg);
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;
    display: block;
}

.exam-details .exam-details-left .exam-name {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    color: #828282;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.exam-details .exam-details-left .exam-time span {
    display: flex;
    gap: .4rem;
}

.exam-details .exam-details-right {
    text-align: end;
}

.exam-details .exam-details-right .status {
    content: "";
    background-image: url(https://tobeto.com/_next/static/media/done-purple.b4443456.svg);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    cursor: pointer;
}

.section-card {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.section-card div {
    display: flex;
    flex-direction: column;
}

.section-card .create-profile,
.section-card .self-assessment,
.section-card .start-learning {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    height: 18rem;
    width: 17rem;
    border-radius: 0 30px 40px 40px;
    color: #fff;
    font-family: 'Poppins-Bold';
    font-size: 24px;
    display: grid;
    grid-template-rows: 80% 20%;
    align-items: center;
    text-align: center;
}

.section-card .create-profile span {
    justify-self: center;
}

.section-card .create-profile {
    background: linear-gradient(209.21deg, #1d0b8c 13.57%, #bda6fe 98.38%) !important;
}

.section-card .self-assessment {
    background: linear-gradient(209.21deg, #0e0b93 13.57%, #5eb6ca 98.38%) !important;
}

.section-card .start-learning {
    background: linear-gradient(209.21deg, #3c0b8c 13.57%, #e3a6fe 98.38%) !important;
}

.section-card button {
    border-radius: 20px;
    background-color: #9933FF;
    border: 0;
    padding: 0.5rem;
}

.section-card button:hover {
    color: #fff;
    background-color: #822bd9;
}