.-education-custom-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.-education-custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.education-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 15px;
    transition: box-shadow 0.3s ease;
}

.education-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.-education-custom-checkbox input:checked~.education-checkmark:after {
    display: block;


}

.-education-custom-checkbox .education-checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

}

.-education-custom-checkbox input:focus~.education-checkmark {
    box-shadow: 0 0 10px 1px rgb(200, 146, 239);
}

.education-check-text {
    margin-left: 45px;
    color: var(--bs-secondary-color);

}

.educational-background .education-info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.edu-back-shadow {
    box-shadow: 0 10px 24px 0 hsla(0, 0%, 9%, .05) !important;
    padding: 20px;
    padding-top: 20px;
}


.edu-delete-btn {
    margin-top: -40px;
    background-color: #fc6d6d !important;
    border: none;
    border-radius: 50px !important;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-left: 780px !important;
}


.education-background-page {
    display: flex !important;
    margin-top: 2rem !important;
}

.formik-form .react-datepicker-ignore-onclickoutside {
    width: 100%;
    border: solid #e7e5e4;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.10;
    width: 410px;

}

.formik-form .react-datepicker-ignore-onclickoutside:focus {
    border-color: #c9f;
    box-shadow: 0 0 0 0.25rem rgba(153, 51, 255, .25);
    outline: 0;
}

.react-datepicker-wrapper {
    display: block;
}

.input-area-title-date {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #828282;
    display: block;
}


button:not(:disabled) {
    cursor: pointer;
}

.react-datepicker__navigation--next {
    right: 2px;
    background-color: transparent !important;
}

.react-datepicker__navigation--previous {
    right: 2px;
    background-color: transparent !important;
}

.educational-background {
    display: flex;
}

.education-back-p {
    margin-left: 600px !important;
}

.educational-background img {
    margin-top: -10px;

}

.educational-background p {
    margin-left: 30px;
    color: RGB(158 70 247);
    font-family: "Poppins-Regular";

}

.educational-back-uni {
    display: inline-block;
    margin-right: 20px;
}


.educational-back-uni-head {
    color: #828282 !important;
    font-size: 16px;
    font-weight: 500;
}

.educational-back-uni-header {
    color: #828282 !important;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.educational-back-uni-content {
    color: #171717 !important;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    word-break: break-word;
    margin-top: 10px !important;
}