.profile-settings-page {
    display: flex;
    margin-top: 20px;
}

.profile-settings-page .sidebar {
    margin-top: 2rem;
    padding: 10px;
}



.profile-settings-page .sidebar ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    color: #828282;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Poppins-Medium';
    width: 245px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-settings-page .sidebar .active-edit {
    border-radius: 0 !important;
    border-right: 3px solid #93f !important;
}

.profile-settings-page .sidebar ul li:hover {
    cursor: pointer;
}

.profile-settings-page .sidebar .active-item {
    font-weight: normal !important;
}

.profile-settings-page .profile-settings-content {

    margin-left: 20px;
}


/*CERTIFICATES*/

.profile-settings-page .profile-settings-header {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #93f;
    font-family: 'Poppins-Medium';
    margin-left: 10px;
}

.profile-settings-page .profile-settings-content .upload-content {
    border-radius: 12px;
    position: relative;
    border: 1px solid #f8f3fb;
    background-color: #fbf9fc;
    margin-bottom: 2em;
    margin-top: 0.5em !important;
    height: 204px;
    width: 852px;
}

.profile-settings-page .profile-settings-content .upload-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    border: 2px dashed #a486c3;
    border-radius: 8px;
    height: 204px;
    width: 830px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-settings-page .profile-settings-content .upload-area span {
    font-size: 1.1em;
    color: #828282;
    font-family: 'Poppins-Medium';
}

.profile-settings-page .profile-settings-content .upload-area svg:hover {
    cursor: pointer;
}

.modals-container .modal-dialog .modal-content {
    height: max-content;
    width: max-content;
    /* margin-top: 40% !important; */
    background-color: transparent;
    border: 0;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}


/*SOCIAL-MEDIA*/

.social-media-content {
    margin-bottom: 20px;
}

.social-media-content .social-media-text {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #828282;
}

.social-media-content #social-media-icon {
    background-color: transparent !important;
}

.social-media-content .social-media-delete-btn {
    background-color: #fc6d6d !important;
    border: none;
    border-radius: 50px !important;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-content .social-media-edit-btn {
    background-color: black !important;
    border: none;
    border-radius: 6px !important;
    margin-left: 25px;
    width: 25px;
    height: 25px;
}

.social-media-content .social-media-edit-btn .lu-pencil {
    color: white;
    margin-top: -5px;
    margin-left: -6px;
}

.social-media-content .social-media-edit-btn:hover {
    background-color: #9933ff !important;
}

.social-media-span-text {
    color: rgb(153, 51, 255) !important;
    display: flex;
    margin-top: -15px !important;
    font-size: 16px;
}

.social-media-content .social-media-form {
    padding: 8px !important;
}

.social-media-content .social-media-form:focus {
    border-color: #c9f !important;
    box-shadow: 0 0 0 0.25rem rgba(153, 51, 255, .25) !important;
    outline: 0;
}

/* Profile Edit Language */

.pe-language {
    display: flex;
    margin-top: 50px;
}

#pe-language-select {
    margin-right:10px;
}

#pe-language-select-level {
    margin-Left: 40px;
    width: 350px;
}

.pe-language-button {
    border-Radius: 20px;
    margin-top:10px;
    width: 80px;
    background-Color: #9933ff;
    color: white;
    font-weight: 700;
}

.pe-result {
    background-color: #fbf9fc;
    margin-top: 20px;
    border-Radius: 9px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px ;
}

.pe-container {
    display: flex;
    border-radius: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 11px;
    margin: 10px 20px 10px 20px;
    height: 60px;
}

.pe-container:hover {
    border: 1px solid red;
    position: relative;
}

.pe-container::before {
    content: url(../../../public/assets/Icons/profile-settings/globe.svg);
    width: 45px;
    margin-right: 5px;
}

.pe-container::after {
    content: url(../../../public/assets/Icons/profile-settings/home.svg);
}

.pe-edit-language {
    width: 100px;
}

.pe-edit-language p {
    font-size: 11px;
    opacity: 0.9;
}

.pe-edit-language span {
    font-size: 12px;
    font-weight: bold; 
}

.pe-container .pe-delete-button {
    display: none;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.pe-container:hover .pe-delete-button {
    display: inline-block;
}

.pe-delete-button {
    background-image: url(../../../public/assets/Icons/profile-settings/trash.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    border:none;
}

/* Profile Edit Language */