.forgot-password-page {
    margin-top: 12rem;
    /* font-size: 48px; */
    box-shadow: 0 7px 29px rgba(0, 0, 0, .13);
    margin: 12rem auto;
    height: 275px;

}

.forgot-password-page h1 {
    padding-top: 48px;
    font-family: "Poppins-Bold";
    font-size: 36px;
}

.forgot-password-page .login-form {
    display: block;
    text-align: center;
}

.forgot-password-page .login-form input {
    text-align: center;
}

.forgot-password-page .forgot-button {
    padding: 8px 12px !important;
    border-radius: 24px !important;
    background-color: #93f !important;
    color: white !important;
    width: 80% !important;
    border: 1px solid #93f;
}