.card-container {
    background: #fff;
    border-radius: 10px !important;
    border-bottom: 2px solid #93f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 180px;
    margin: 20px;
    width: 95%;
}

.training-content {
    background-color: #2F2F2F;
    border-radius: 15px;
    height: 640px;

}

.training-content .training-card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-self: center;
    padding: 10px 20px 10px 20px;
}

.training-card-group .card-body {
    color: black;
    line-height: 27px;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins-Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px solid #93f;
}

.training-card-group .card-body span {
    max-width: 12rem;
}

.training-content .training-card-group .card {
    border-bottom: 2px solid #93f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    margin-top: 20px;
}