.photo-card {
  height: 480px;
  width: 360px;
  display: inline-block;
  margin-right: 3rem;
  margin-bottom: 50px;
}

.photo-card .card:hover {
  cursor: pointer;
}

.photo-card .card::before {

  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  z-index: 5;
  transition: all, .5s;
  transition-timing-function: ease-in-out;
}

.photo-card .card:hover::after {
  transform: scale(1);
}

.photo-card .card::after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 1em;

  border-bottom-right-radius: 1em;
  position: absolute;

  z-index: 5;
  transition: all, .2s;
  transition-timing-function: ease-in-out;
}

.photo-card .card::after {
  background: rgba(56, 0, 101, .6);
  width: 100%;
  height: 100%;

}

.photo-card .card {
  background-color: #221f1f;
  font-family: 'Poppins-Regular';
  border: none;
  border-radius: 1.2em;
}


.photo-card .card-img {
  height: 480px;
  border-radius: 1em;
  object-fit: cover;
  opacity: .5;
}

.photo-card .main-bc {
  font-size: 1em;
  color: #312323;
  text-decoration: none;
}

.photo-card .card-content {
  padding: 1em;
  font-size: 16px;
  margin-top: 0.5em;
  line-height: 1;
  display: block;
  position: absolute;
  bottom: 10px;
  padding-right: 40px;
  z-index: 6;
}

.photo-card .card .card-content .card-content-title h1 {
  font-family: 'Poppins-Bold';
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  padding-top: 40px;
}

.photo-card .card .card-content .card-content-text p {
  font-size: 16px;
  line-height: 1rem;
  font-family: 'Poppins-Regular';
  color: #fff;

}

.photo-card .date {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  padding: 1em;
  line-height: 1em;
  opacity: .7;
  z-index: 6;
}