.educations {
    background-image: url(../../../public/assets/Icons/educationBanner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin-right: 15px;
    margin-left: 13px;
    border-radius: 20px;
}

.educations h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    padding-top: 30px;
    padding-right: 600px;
    padding-bottom: 50px;
    color: White;
}

.educations-input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.educations-input-text {
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 15px;
}

.educations-search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2em;
    color: #555;
}

.projectSelect .select__control {
    border-radius: 20px;
    text-align: center;
}

.educations-tabs {
    font-size: 20px;
    margin-top: 90px !important;
}

.educations-tabs .nav-tabs {
    justify-content: center;
}

.educations-tabs::hover {
    color: black;
}

.educations-tabs .nav-link {
    padding: 10px 20px;
    color: black;
}

.educations-tabs .nav-link.active {
    border-right: none;
    border-left: none;
    border-top: none;
}

.educations-tabs .nav-tabs {
    border: none;
}

.educations-tabs-container .nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #525252;
    margin-top: 10px;
}


.educations-tabs-container {
    margin-bottom: 20px !important;
    margin-left: 10px !important;
}

.educations-all {
    display: flex;
    flex-wrap: wrap;
}

.educations-all .education-card {
    margin-bottom: 20px;
    margin-left: 20px;
}

.educations-continue {
    display: flex;
    flex-wrap: wrap;
}

.educations-continue .education-card {
    margin-bottom: 20px;
    margin-left: 20px;
}

.educations-finished {
    display: flex;
    flex-wrap: wrap;
}

.educations-finished .education-card {
    margin-bottom: 20px;
    margin-left: 20px;
} 

.educations-tabs .nav-link,
.educations-tabs .nav-link.active {
    color: black;
    border:none !important;
}

.educations-tabs .nav-link:hover {
    color: black;
}