.about-icon.img-thumbnail {
    height: 300px;
    background-color: transparent;
    border: none;
}

.aboutUs {
    display: flex;
    align-items: center;
    margin-top: 12rem !important;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-content .headfarming {
    color: blueviolet;
}

.aboutUs p {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.aboutUs-video {
    width: 480px;
    height: 240px;
}

.about-content .text-area {
    font-size: 18px;
    font-family: 'Poppins-Regular';
    max-width: 100ch;
}

/*Tobeto Farkı*/


.aboutUs-container {
    margin: 0 auto;
    width: 1140px;
}

.about-content .tobeto-header {
    font-size: 28px;
    font-family: 'Poppins-Regular';
    src: url('/public/assets/fonts/Poppins-Regular.ttf');
}

/*Tobeto Slogan*/
.about-content .tobeto-slogan {
    font-size: 2em;
    background: linear-gradient(270deg, #0d6efd, #93f 50%, #0d6efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    text-align: center;
    font-family: 'Poppins-Bold';
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    font-size: 32px;
}

/*Tobeto Slogan*/

/* Crew */
.about-content .list-item h1 {
    margin-top: 48px !important;
    text-align: center;
}

.about-content .list-item li {
    max-width: 75%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
    font-size: 22px;

}

.about-content .list-item li::before {
    display: inline-block;
    content: "";
    background-image: url(../../../public/assets/Icons/AboutUsIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 52px;
    height: 24px;
}

.about-content .Cards1 {
    max-width: 80% !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

}

.about-content .Cards2 {
    padding-right: 43px !important;
    display: grid;
    grid-template-columns: 190px 190px 190px;
    margin-top: 72px !important;
    justify-content: center;
    font-size: 16px;

}


.about-content .Cards3 {
    display: flex;
    margin-top: 36px !important;
    justify-content: center;
    font-size: 16px;
    padding: 0px 0px 50px 0px !important;
    margin-bottom: 80px;

}




/* Crew */

/* Line */

.about-content .gradient-line2 {
    background: linear-gradient(180deg, #93f, #953dac 27.08%, #181717);
    width: 12px;
    height: 200px;
    align-self: center;
    margin-top: 6rem !important;
}

/* Line */

/* Office */
.about-content .tobeto-office {
    background-color: #36184f;
    text-align: center;
    color: #fff;
    padding: 48px 0px;
}

.about-content .tobeto-office span {
    font-family: 'Poppins-Regular';
    font-size: 16px;
}

.about-content .tobeto-office h2 {
    font-family: 'Poppins-Bold';
    margin-bottom: 3rem;
}

/* Office */

/* Social Media */
.about-content .follow-us {
    font-family: 'Poppins-Bold';
    font-size: 24px;
    color: #fff;
    height: 100%;
    text-align: center;
    margin-top: 4rem;
}

.about-content .follow-us .social-media-icons {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.about-content .follow-us .social-media-icons .icons {
    justify-content: center !important;
}

.about-content .follow-us .social-media-icons .icons a {
    margin-left: 0;
    margin-right: 20px;
}

/* Social Media */