.Blog-container {
  height: 480px;
  width: 360px;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 50px;
  padding: 0 1em;
  /* overflow: hidden; */
  /* border-radius: 30px !important; */
}

.Blog-blogcard {
  background-color: #221f1f;
  /* background: linear-gradient(#222020, #1a1818); */
  font-family: Poppins, sans-serif !important;
  border: none !important;
}

.a .blogcard {
  border-radius: 30px !important;
}

.card-img {
  height: 480px;
  border-radius: 30px !important;
  object-fit: cover;
}

.main-bc {
  font-size: 1em;
  color: #312323;
  text-decoration: none;
}

.card-catalog {
  padding: 1em;
  font-size: 16px;
  margin-top: 0.5em;
  line-height: 1;
  display: block;
  position: absolute;
  text-decoration: none;
  /* border-radius: 25px ; */
  margin-bottom: 9.5em !important;
}

.catalog-cart-title h1 {
  font-family: Poppins, sans-serif !important;
  color: #ffffff !important;
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  padding-top: 70px;
}
.catalog-cart-text p {
  font-size: 14px;
}

.date {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  padding: 1em;
  line-height: 1em;
  opacity: 9;
  font-family: Poppins, sans-serif !important;
}
