.homepage {
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    margin-top: 12rem !important;
}

.card-group {
    display: flex;
    gap: 2%;
    justify-self: center;
    width: 70%;
    grid-row-start: 0;
    margin-top: 50px;
}

.tobeto-card {
    background-image: url('../../../public/assets/images/tobeto-card.png') !important;
    background-size: cover !important;
    border-radius: 10px !important;
}

.ik-card {
    background-image: url('../../../public/assets/images/ik-card.png') !important;
    background-size: cover !important;
    border-radius: 15px !important;

}

.ui.card {
    height: 17rem;
    margin: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
}

.tobeto-card .content {
    display: grid;
    grid-template-columns: 55% auto;
    grid-template-rows: 100%;
    align-items: center;

}

.ik-card .content {
    display: grid;
    grid-template-rows: 60% 40%;

}

.ik-card .content-top {
    display: grid;
    grid-template-columns: 68% auto;
    align-items: end;
    column-gap: 5%;
    margin-bottom: 15px;
}

.tobeto-card .content-left {
    margin-left: 10px;
}

.tobeto-card .content-left span {
    color: #fff;
    font-weight: 700;
    font-family: 'Poppins-Bold';
    font-size: 16px !important;
    z-index: 2;
    display: flex;
    margin-left: 0;
}


.tobeto-card .content-right {
    align-self: end;
}

.tobeto-card .content-right img {
    width: 170px !important;
    margin-left: 20px;

}

.word-container {
    margin-left: 5px;
}

.word1,
.word2 {
    padding-left: 5px;
}

.word1 {
    opacity: 1;
    animation: fade2 4s infinite;
}

.word2 {
    opacity: 0;
    animation: fade 4s infinite;
}

.tobeto-card-btn {
    background-color: #93f !important;
    border: 0 !important;
    border-radius: 20px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: 'Poppins-Regular' !important;
    color: #fff !important;
}


.text-ik {
    background-color: #fff;
    height: 50px;
    border-radius: 0 30px 30px 0;
    display: grid;
    grid-template-columns: 80% auto;
}

.text-ik #circle {

    width: 35px;
    height: 35px;
    background: #1d1141;
    border-radius: 100%;
    justify-self: end;
    align-self: center;
    margin-right: 1rem;
}

.text-ik span {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    color: #1d1141;
    font-size: 16px;
    align-self: center;
    text-align: end;
}

.ik-card .content {
    padding-left: 0 !important;
}

.ik-card .content-bottom {
    justify-self: center;
    margin-top: 1rem;
}

.ik-card .content-bottom Button {
    background-color: #0fcdfa;
    color: #1d1141;
    border: 0;
    border-radius: 50px;
    line-height: 18px;
    min-width: 100px;
    font-family: 'Poppins-Bold';
    font-size: 10px;
    padding: 5px;
}

.ik-card::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 3%;
    width: 25px;
    height: 25px;
    background: url(../../../public/assets/images/doth1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ik-card::after {

    position: absolute;
    bottom: 3%;
    right: 3%;
    width: 40px !important;
    height: 40px !important;
    background: url(../../../public/assets/images/doth2.png);
    background-size: contain;
    background-repeat: no-repeat;
    visibility: visible !important;
}

.gradient-line {
    background: linear-gradient(180deg, #93f, #953dac 27.08%, #181717);
    width: 12px;
    height: 150px;
    justify-self: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    33.333% {
        opacity: 1;
    }

    53.333% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    33.333% {
        opacity: 0;
    }

    53.333% {
        opacity: 1;
    }
}

/* Improve Yourself */

.tabButton {
    display: flex;
    flex-direction: column;
    grid-column-start: 12;
    padding: 20px;
}

.tabButton .title {
    font-family: 'Poppins-Bold';
}



.button-container,
.button-container2 {
    margin-bottom: 10px;
    border-radius: 15px;
    color: red;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 15px !important;
    border-color: #181717 !important;
    text-align: left !important;
    padding: 25px 35px !important;
}

.col-md-5 .button-container:active,
.col-md-5 .button-container:focus,
.col-md-5 .button-container2 {
    background-color: #181717 !important;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.col-md-5 .button-container2:focus,
.col-md-5 .button-container2:active,
.col-md-5 .button-container:focus {
    background-color: white !important;
    color: #181717;
}

.col-md-5 .button-container2:active .col-md-5 .button-container {
    color: white !important;
}

/* Improve Yourself */
/*CodeAcademy area*/
.ca {
    border-radius: 12px;
    border: 2px solid #93f;
    padding: 2em 9em 2em 12em;
    align-items: center;
    background-color: #181717;

}



.ca h1 {
    font-family: 'Poppins-Bold';
    margin-top: -2px;
    font-size: 2.2em;
    font-weight: 700;
    color: #fff;
    max-width: 700px;
}

.ca p {

    font-size: 1.7em;
    font-weight: 400;
    color: #fff;
    margin-top: 1.5em;
    max-width: 900px;
}

/*CodeAcademy area*/

/*Advertisement area*/
.content-text {
    margin-top: 50px;
    position: relative;
    background: linear-gradient(179.79deg, #93f .18%, #7d19e1 77.21%);
    height: 288px;
}

.content-text p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-top: 5%;
    font-family: 'Poppins-Regular';
}

.tab-vector2 {
    position: absolute;
    right: 15%;
    bottom: 21%;
}

.tab-vector3 {
    position: absolute;
    left: 12%;
    top: 10%;
}

/*Advertisement area*/

/* svgContainer */

.headfarming-area {
    background: url(/public/assets/animations/headfarmingAnimation.svg) no-repeat;
    background-position-y: 50%;
    background-size: contain;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 35px;
    margin-top: 50px;
}

/* svgContainer */

/*Accordion Area*/
.acc {
    padding: 0;
    margin-top: 72px;
}

.acc-bg {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
    background: #2f2f2f !important;
    border-radius: 25px;
}

.accordion .accordion-item,
.accordion .accordion-header,
.accordion .accordion-button {
    background: #2f2f2f !important;
    box-shadow: none !important;

}

.accordion .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion .accordion-item {
    border: 0;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 20px;
}

.accordion-body {
    border-bottom: 2px solid #272727 !important;
}

.accordion-button {
    border-bottom: 2px solid #272727 !important;
}

.accordion-button:not(.collapsed) {
    color: #9933FF !important;
}

.accordion .accordion-button {
    color: #9933FF;
    font-size: 20px;
    font-family: 'Poppins-Bold';
    padding: 20px;
}


.accordion-body .content {
    display: grid;
    grid-template-columns: 71% 25%;
    padding-right: 20px;
    column-gap: 6%;
}

.accordion-body span {
    font-size: 17px;
    font-family: 'Poppins-Regular';
    color: #fff;
    max-width: 90%;
    line-height: 28px;
}

.accordion-body img {
    border-radius: 20px;
}

/*Accordion Area*/

/*Partners Area*/

.tobeto-partners {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tobeto-partners img {
    display: flex;
    width: 150px;
    align-items: center;
}
.partners-enocta {
    width: 80px !important ; 
}

/*Partners Area*/
